.bottom-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.center-container {
    padding: 44px 0 53px 0;
}

.specification{
    margin: 5px;
    padding: 0 10px;
    text-align: center;
}

.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.product-item {
    padding-top: 1px;
}

.product-item-info {
    height: 50px;
}
